# Step 1: Data munging

## Les choses à faire dans cette étape:
    1) Lire les jeux de données et nettoyer les jeux de données: les données des capteurs sont mises sous forme discrète avec delta t = 60s. 
    2) Calcule les paramètres du modèle de Markov caché: la fréquence de transition et d'observation.

In [1]:
from pandas import DataFrame, Series
import pandas as pd
import numpy as np
from datetime import datetime
import math
#from __future__ import print_function
from operator import itemgetter
from collections import defaultdict

In [2]:
sensorData = pd.read_table("SensorData.txt")
activityData = pd.read_table("activitiesData.txt")

On élimine la première ligne de chaque jeu de données, ce qui servent à rien

In [3]:
sensorData = sensorData.ix[1:]
activityData = activityData.ix[1:]

In [4]:
activityData.head()

             Start time              End time  ID
1  25-Feb-2008 00:22:46  25-Feb-2008 09:34:12  10
2  25-Feb-2008 09:37:17  25-Feb-2008 09:38:02   4
3  25-Feb-2008 09:49:23  25-Feb-2008 09:53:28  13
4  25-Feb-2008 10:02:28  25-Feb-2008 10:12:42   5
5  25-Feb-2008 10:19:06  25-Feb-2008 16:55:38   1

On vérifie si il y a des valeurs manquantes dans notre jeu de données:

In [5]:
sensorData = sensorData[sensorData['End time'].notnull()]

In [6]:
activityData = activityData[activityData['End time'].notnull()]

On crée les listes des activités et des capteurs:

In [7]:
activityLabel = Series(['nothing','leave house','use toilet','take shower','go to bed','prepare breakfast','prepare dinner',
                        'get drink'], index=[0,1,4,5,10,13,15,17])
activityLabel

0               nothing
1           leave house
4            use toilet
5           take shower
10            go to bed
13    prepare breakfast
15       prepare dinner
17            get drink
dtype: object

In [8]:
sensorLabel = Series(['Microwave','Hall-Toilet door','Hall-Bathroom door','Cups cupboard','Fridge',
                      'Plates cupboard','Front door','Dishwasher','ToiletFlush','Freezer','Pans Cupboard',
                      'Washing machine','Groceries Cupboard','Hall-Bedroom door'],
                     index = [1,5,6,7,8,9,12,13,14,17,18,20,23,24])
sensorLabel

1              Microwave
5       Hall-Toilet door
6     Hall-Bathroom door
7          Cups cupboard
8                 Fridge
9        Plates cupboard
12            Front door
13            Dishwasher
14           ToiletFlush
17               Freezer
18         Pans Cupboard
20       Washing machine
23    Groceries Cupboard
24     Hall-Bedroom door
dtype: object

Maintenant on cherche à gérer les 2 colonnes de temps : Start Time et End Time

In [9]:
x1 = '25-Feb-2008 00:22:46'
x2 = '25-Feb-2008 00:23:47'
y1 = pd.to_datetime(x1)
y2 = pd.to_datetime(x2)
print(type(y2-y1))
print((y2-y1)/pd.Timedelta(1,'s'))

<class 'pandas.tslib.Timedelta'>
61.0

In [10]:
activityData['Start time'] = pd.to_datetime(activityData['Start time'])

In [11]:
activityData['End time'] = pd.to_datetime(activityData['End time'])

In [12]:
sensorData['Start time'] = pd.to_datetime(sensorData['Start time'])

In [13]:
sensorData['End time'] = pd.to_datetime(sensorData['End time'])

Convert ID columns from string to int:

In [14]:
sensorData.ID = sensorData['ID'].apply(int)

In [15]:
activityData.ID = activityData['ID'].apply(int)

Convert to raw feature matrix:

In [16]:
def convert2RawFeatMatrix(trainingSensorData, trainingActivityData, timeStep):
    beginTime = 0 
    endTime = 0
    
    if sensorData['Start time'][1] < activityData['Start time'][1]: # we compare 1st time step of activity data vs sensor data
        beginTime = sensorData['Start time'][1]
    else:
        beginTime = activityData['Start time'][1]
        
    if sensorData['End time'][len(sensorData)] > activityData['End time'][len(activityData)]:
        endTime = sensorData['End time'][len(sensorData)]
    else:
        endTime = activityData['End time'][len(activityData)]
        
    duration = endTime - beginTime
    numberOfTimeStep = math.ceil(duration/pd.Timedelta(timeStep,'s'))
    
    #print beginTime
    
    featureMatrix = pd.DataFrame(0, index = sensorLabel.index, columns = np.arange(numberOfTimeStep))
    labels = Series(0, index = np.arange(numberOfTimeStep))
    
    for index,rowSensor in trainingSensorData.iterrows():
        differenceStart = rowSensor['Start time'] - beginTime
        differenceEnd = rowSensor['End time'] - beginTime
        
        startStep = int(differenceStart / pd.Timedelta(timeStep,'s'))
        endStep = int(differenceEnd / pd.Timedelta(timeStep,'s'))
        
        featureMatrix.loc[rowSensor.ID][startStep:endStep] = 1
        
    for index, rowActivity in trainingActivityData.iterrows(): 
        differenceStart = rowActivity['Start time'] - beginTime
        #print differenceStart
        differenceEnd = rowActivity['End time'] - beginTime
        
        startStep = int(differenceStart / pd.Timedelta(timeStep,'s'))
        #print startStep, 
        endStep = int(differenceEnd / pd.Timedelta(timeStep,'s'))
        #print endStep
        
        labels[startStep:endStep] = rowActivity.ID
        
    return featureMatrix, labels

In [17]:
featureMatrix, labels = convert2RawFeatMatrix(sensorData, activityData, 60)

In [18]:
featureMatrix.ix[:,565:584]

,565.0,566.0,567.0,568.0,569.0,570.0,571.0,572.0,573.0,574.0,575.0,576.0,577.0,578.0,579.0,580.0,581.0,582.0,583.0,584.0
1,0,0,0,0,1,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
8,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,1,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,0,0,0
14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

Convert to last sensor fired representation, in which the last sensor that changed state continues to give 1 and changes to 0 when a different sensor changes state.

In [19]:
def convert2LastFiredFeatureMatrix(trainingSensorData, trainingActivityData, timeStep):
    beginTime = 0 
    endTime = 0
    
    #if trainingSensorData['Start time'][1] < trainingActivityData['Start time'][1]: # we compare 1st time step of activity data vs sensor data
    beginTime = trainingSensorData['Start time'][1]
    #else:
        #beginTime = trainingActivityData['Start time'][1]
        
    #if trainingSensorData['End time'][len(trainingSensorData)] > trainingActivityData['End time'][len(trainingActivityData)]:
    endTime = trainingSensorData['End time'][len(trainingSensorData)] 
    #else:
        #endTime = trainingActivityData['End time'][len(trainingActivityData)]
        
    duration = endTime - beginTime
    numberOfTimeStep = math.ceil(duration/pd.Timedelta(timeStep,'s'))
    
    #print beginTime
    
    featureMatrix = pd.DataFrame(0, index = sensorLabel.index, columns = np.arange(numberOfTimeStep))
    finalFeatureMatrix = pd.DataFrame(0, index = sensorLabel.index, columns = np.arange(numberOfTimeStep)) 
    labels = Series(0, index = np.arange(numberOfTimeStep))
    
    for index,rowSensor in trainingSensorData.iterrows():
        differenceStart = rowSensor['Start time'] - beginTime
        differenceEnd = rowSensor['End time'] - beginTime
        
        startStep = int(differenceStart / pd.Timedelta(timeStep,'s'))
        endStep = int(differenceEnd / pd.Timedelta(timeStep,'s'))
        
        featureMatrix.loc[rowSensor.ID][startStep] = 1
        featureMatrix.loc[rowSensor.ID][endStep-1] = 1
    
    x,y = np.where(featureMatrix == 1)
    lst = []
    for i in range(len(x)): 
        lst.append((x[i],y[i]))
        
    lstSorted = sorted(lst, key = lambda pos:pos[1])
    
    #print(lstSorted)
    
    for i in range(len(lstSorted)-1): 
        finalFeatureMatrix.iloc[lstSorted[i][0]][lstSorted[i][1]: lstSorted[i+1][1]-1] = 1 
            
    for index, rowActivity in trainingActivityData.iterrows(): 
        if rowActivity['Start time'] < beginTime or rowActivity['End time'] > endTime: 
            continue
        
        differenceStart = rowActivity['Start time'] - beginTime
        #print differenceStart
        differenceEnd = rowActivity['End time'] - beginTime
        
        startStep = int(differenceStart / pd.Timedelta(timeStep,'s'))
        #print startStep, 
        endStep = int(differenceEnd / pd.Timedelta(timeStep,'s'))
        #print endStep
        
        labels[startStep:endStep] = rowActivity.ID
    
    finalFeatureMatrix = finalFeatureMatrix.drop(labels = len(finalFeatureMatrix.iloc[0])-1, axis = 1 )
    #print len(labels)
    labels = labels[:len(labels)-2]
    #print len(labels)
    return finalFeatureMatrix, labels

Now we create the training set

In [20]:
testDay = [25,28,5,10,16]

In [21]:
trainingSensor = [sensorData['Start time'][x].day not in testDay and sensorData['End time'][x].day not in testDay for x in range(1,len(sensorData))]
trainingSensor = trainingSensor + [False]
trainingSensorData = sensorData[trainingSensor]
trainingSensorData.index = np.arange(1,len(trainingSensorData)+1)
trainingSensorData.head()

           Start time            End time  ID Val
1 2008-02-26 00:38:49 2008-02-26 00:38:50  24   1
2 2008-02-26 00:38:52 2008-02-26 00:38:59   5   1
3 2008-02-26 00:38:53 2008-02-26 00:39:41  24   1
4 2008-02-26 00:39:00 2008-02-26 00:39:01   5   1
5 2008-02-26 00:39:03 2008-02-26 00:39:04   5   1

In [22]:
trainingActivity = [activityData['Start time'][x].day not in testDay and activityData['End time'][x].day not in testDay for x in range(1,len(activityData))]
trainingActivity = trainingActivity + [False]
trainingActivityData = activityData[trainingActivity]
trainingActivityData.index = np.arange(1,len(trainingActivityData)+1)
trainingActivityData.head()

           Start time            End time  ID
1 2008-02-26 00:39:24 2008-02-26 00:39:40   4
2 2008-02-26 03:13:40 2008-02-26 03:14:41   4
3 2008-02-26 08:35:59 2008-02-26 08:36:38   4
4 2008-02-26 09:15:40 2008-02-26 09:19:00   4
5 2008-02-26 09:26:42 2008-02-26 09:29:09  13

In [23]:
finalFeatureMatrix, labels = convert2LastFiredFeatureMatrix(trainingSensorData,trainingActivityData, 60)

In [24]:
labels

0        4
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
35642    0
35643    0
35644    0
35645    0
35646    0
35647    0
35648    0
35649    0
35650    0
35651    0
35652    0
35653    0
35654    0
35655    0
35656    0
35657    0
35658    0
35659    0
35660    0
35661    0
35662    0
35663    0
35664    0
35665    0
35666    0
35667    0
35668    0
35669    0
35670    0
35671    0
dtype: int64

In [25]:
finalFeatureMatrix

,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,35662.0,35663.0,35664.0,35665.0,35666.0,35667.0,35668.0,35669.0,35670.0,35671.0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,1,0,0,0,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [26]:
def cumulationTable(finalFeatureMatrix, labels):
    featureMat = finalFeatureMatrix.copy()
    lab = labels.copy()
    cumuSensor = [featureMat[0]]
    cumuActivity = [lab[0]]
    for x in xrange(1,len(lab)):
        if lab[x] == lab[x-1]:
            cumuSensor[-1] += featureMat[x]
        else:
            cumuSensor.append(featureMat[x])
            cumuActivity.append(lab[x])
    
    return cumuSensor, cumuActivity

In [27]:
cumuSensor, cumuActivity = cumulationTable(finalFeatureMatrix, labels)

In [28]:
len(cumuSensor)

326

In [29]:
len(cumuActivity)

326

In [64]:
cumuSensor

[1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    1
 Name: 0.0, dtype: int64, 1       0
 5       5
 6       1
 7       0
 8       0
 9       0
 12      0
 13      0
 14      0
 17      0
 18      0
 20      0
 23      0
 24    147
 Name: 1.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    1
 17    0
 18    0
 20    0
 23    0
 24    1
 Name: 154.0, dtype: int64, 1       0
 5       0
 6       0
 7       0
 8       0
 9       0
 12      0
 13      0
 14    320
 17      0
 18      0
 20      0
 23      0
 24      1
 Name: 156.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    1
 Name: 477.0, dtype: int64, 1      0
 5      0
 6      0
 7      0
 8      0
 9      0
 12     0
 13     0
 14     0
 17     0
 18     0
 20     0
 23     0
 24    38
 Name: 478.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    3
 17    0
 18    0
 20    0
 23    0
 24    2
 Name: 516.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    6
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 521.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     2
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    2
 24    0
 Name: 527.0, dtype: int64, 1      0
 5      1
 6      0
 7      0
 8     17
 9      0
 12     0
 13     0
 14     0
 17     0
 18     0
 20     0
 23     0
 24     0
 Name: 531.0, dtype: int64, 1      0
 5     12
 6      0
 7      0
 8      0
 9      0
 12     0
 13     0
 14     0
 17     0
 18     0
 20     0
 23     0
 24     0
 Name: 549.0, dtype: int64, 1     0
 5     5
 6     0
 7     0
 8     0
 9     0
 12    1
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 561.0, dtype: int64, 1       0
 5       0
 6       2
 7       0
 8       0
 9       0
 12    627
 13      0
 14      0
 17      0
 18      0
 20      0
 23      0
 24      0
 Name: 567.0, dtype: int64, 1      0
 5      0
 6     27
 7      0
 8      0
 9      0
 12     0
 13     0
 14     0
 17     0
 18     0
 20     0
 23     0
 24     0
 Name: 1196.0, dtype: int64, 1     0
 5     0
 6     1
 7     0
 8     0
 9     0
 12    0
 13    0
 14    2
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 1223.0, dtype: int64, 1      0
 5      0
 6      0
 7      0
 8      1
 9      0
 12     0
 13     0
 14    33
 17     0
 18     0
 20     0
 23     0
 24     0
 Name: 1226.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     2
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 1260.0, dtype: int64, 1      0
 5      0
 6      1
 7      0
 8     29
 9      0
 12    45
 13     0
 14     0
 17     0
 18     0
 20     0
 23     0
 24     0
 Name: 1262.0, dtype: int64, 1     0
 5     0
 6     2
 7     0
 8     0
 9     0
 12    0
 13    0
 14    2
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 1337.0, dtype: int64, 1     0
 5     0
 6     1
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 1341.0, dtype: int64, 1       0
 5     386
 6       1
 7       0
 8       0
 9       0
 12      0
 13      0
 14      0
 17      0
 18      0
 20      0
 23      0
 24      1
 Name: 1342.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    1
 17    0
 18    0
 20    0
 23    0
 24    1
 Name: 1730.0, dtype: int64, 1       0
 5       0
 6       0
 7       0
 8       0
 9       0
 12      0
 13      0
 14    148
 17      0
 18      0
 20      0
 23      0
 24      2
 Name: 1732.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     2
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    1
 24    0
 Name: 1882.0, dtype: int64, 1     0
 5     0
 6     2
 7     0
 8     8
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 1885.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    2
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 1895.0, dtype: int64, 1      0
 5     12
 6      0
 7      0
 8      0
 9      0
 12     0
 13     0
 14     0
 17     0
 18     0
 20     0
 23     0
 24     0
 Name: 1897.0, dtype: int64, 1     0
 5     5
 6     0
 7     0
 8     0
 9     0
 12    1
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 1909.0, dtype: int64, 1       0
 5       0
 6       0
 7       0
 8       0
 9       0
 12    626
 13      0
 14      0
 17      0
 18      0
 20      0
 23      0
 24      0
 Name: 1915.0, dtype: int64, 1      0
 5      0
 6      0
 7      0
 8      5
 9     11
 12     0
 13     0
 14     0
 17     1
 18     2
 20     0
 23     1
 24     0
 Name: 2541.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     1
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 2561.0, dtype: int64, 1       0
 5       0
 6       2
 7       0
 8      73
 9       0
 12      0
 13      0
 14    147
 17      0
 18      0
 20      0
 23      0
 24      0
 Name: 2562.0, dtype: int64, 1     0
 5     0
 6     1
 7     0
 8     0
 9     0
 12    0
 13    0
 14    2
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 2784.0, dtype: int64, 1        0
 5        0
 6       10
 7        3
 8        7
 9        3
 12       0
 13       4
 14       5
 17       0
 18    1944
 20       0
 23       0
 24       1
 Name: 2787.0, dtype: int64, 1     0
 5     0
 6     1
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    1
 Name: 4764.0, dtype: int64, 1       0
 5       0
 6     135
 7       0
 8       0
 9       0
 12      0
 13      0
 14      0
 17      0
 18      0
 20      0
 23      0
 24      2
 Name: 4766.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    6
 24    0
 Name: 4903.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    1
 17    0
 18    0
 20    0
 23    1
 24    0
 Name: 4909.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    1
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 4911.0, dtype: int64, 1      0
 5     10
 6      0
 7      0
 8      0
 9      0
 12     0
 13     0
 14     0
 17     0
 18     0
 20     0
 23     0
 24     0
 Name: 4912.0, dtype: int64, 1     0
 5     7
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 4922.0, dtype: int64, 1       0
 5       0
 6       0
 7       0
 8       1
 9       0
 12    450
 13      0
 14      0
 17      0
 18      0
 20      0
 23      0
 24      0
 Name: 4929.0, dtype: int64, 1      0
 5      0
 6      0
 7      0
 8     22
 9      0
 12     0
 13     0
 14     0
 17     0
 18     0
 20     0
 23     0
 24     0
 Name: 5380.0, dtype: int64, 1      0
 5      0
 6      0
 7      0
 8      0
 9      0
 12    42
 13     0
 14     0
 17     0
 18     0
 20     0
 23     0
 24     0
 Name: 5402.0, dtype: int64, 1     0
 5     0
 6     1
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 5444.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    2
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 5445.0, dtype: int64, 1      0
 5      0
 6      0
 7      0
 8      1
 9      0
 12     0
 13     4
 14    14
 17     0
 18     0
 20     0
 23     0
 24     0
 Name: 5447.0, dtype: int64, 1      0
 5      0
 6      0
 7      0
 8     10
 9      1
 12     0
 13     0
 14     0
 17     4
 18    64
 20     0
 23     2
 24     0
 Name: 5466.0, dtype: int64, 1      0
 5      0
 6      0
 7      0
 8      0
 9      0
 12     1
 13     0
 14     0
 17     0
 18    56
 20     0
 23     0
 24     0
 Name: 5547.0, dtype: int64, 1        0
 5        0
 6        0
 7        0
 8        0
 9        0
 12    2736
 13       0
 14       0
 17       0
 18       0
 20       0
 23       0
 24       0
 Name: 5604.0, dtype: int64, 1      0
 5      1
 6      0
 7      0
 8      0
 9      0
 12    52
 13     0
 14     1
 17     0
 18     0
 20     4
 23     0
 24     0
 Name: 8340.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    1
 Name: 8398.0, dtype: int64, 1      0
 5      0
 6      0
 7      0
 8      0
 9      0
 12     0
 13     0
 14     0
 17     0
 18     0
 20     0
 23     0
 24    19
 Name: 8399.0, dtype: int64, 1      0
 5      0
 6      0
 7      0
 8      0
 9      1
 12     0
 13     0
 14     0
 17    12
 18     0
 20     0
 23     0
 24     0
 Name: 8418.0, dtype: int64, 1      0
 5      0
 6      0
 7      0
 8      0
 9      0
 12     0
 13     0
 14     1
 17    38
 18     0
 20     9
 23     0
 24     0
 Name: 8431.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    5
 17    0
 18    0
 20    0
 23    0
 24    1
 Name: 8479.0, dtype: int64, 1       0
 5       0
 6       0
 7       0
 8       0
 9       0
 12      0
 13      0
 14      0
 17      0
 18      0
 20      0
 23      0
 24    646
 Name: 8485.0, dtype: int64, 1     0
 5     0
 6     2
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    1
 Name: 9131.0, dtype: int64, 1     0
 5     0
 6     7
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    1
 24    0
 Name: 9134.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    3
 24    0
 Name: 9142.0, dtype: int64, 1      0
 5      1
 6      0
 7      0
 8      0
 9      0
 12     0
 13     0
 14     0
 17     0
 18     0
 20     0
 23    12
 24     0
 Name: 9145.0, dtype: int64, 1      0
 5     16
 6      0
 7      0
 8      0
 9      0
 12     0
 13     0
 14     0
 17     0
 18     0
 20     0
 23     0
 24     0
 Name: 9158.0, dtype: int64, 1      0
 5     11
 6      0
 7      0
 8      0
 9      0
 12     1
 13     0
 14     0
 17     0
 18     0
 20     0
 23     0
 24     0
 Name: 9174.0, dtype: int64, 1        0
 5        0
 6        0
 7        0
 8        0
 9        0
 12    1404
 13       0
 14       0
 17       0
 18       0
 20       0
 23       0
 24       0
 Name: 9186.0, dtype: int64, 1     0
 5     0
 6     1
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 10590.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    2
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 10591.0, dtype: int64, 1     0
 5     3
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 10593.0, dtype: int64, 1       0
 5       0
 6       0
 7       0
 8       0
 9       0
 12    545
 13      0
 14      0
 17      0
 18      0
 20      0
 23      0
 24      0
 Name: 10596.0, dtype: int64, 1     0
 5     0
 6     2
 7     0
 8     0
 9     0
 12    0
 13    0
 14    2
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 11141.0, dtype: int64, 1     0
 5     1
 6     0
 7     0
 8     0
 9     0
 12    1
 13    0
 14    0
 17    0
 18    0
 20    4
 23    0
 24    0
 Name: 11145.0, dtype: int64, 1       0
 5       0
 6       0
 7       0
 8       0
 9       0
 12    314
 13      0
 14      0
 17      0
 18      0
 20      0
 23      0
 24      0
 Name: 11151.0, dtype: int64, 1     0
 5     0
 6     1
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    1
 23    0
 24    0
 Name: 11465.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     1
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    5
 23    0
 24    0
 Name: 11467.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     1
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 11473.0, dtype: int64, 1        0
 5        0
 6        0
 7        0
 8     1723
 9        0
 12       0
 13       0
 14       0
 17       0
 18       0
 20       0
 23       0
 24       2
 Name: 11474.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    2
 Name: 13199.0, dtype: int64, 1       0
 5       0
 6       0
 7       0
 8       0
 9       0
 12      0
 13      0
 14      0
 17      0
 18      0
 20      0
 23      0
 24    239
 Name: 13201.0, dtype: int64, 1     0
 5     0
 6     1
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    1
 Name: 13440.0, dtype: int64, 1      0
 5      0
 6     22
 7      0
 8      0
 9      0
 12     0
 13     0
 14     0
 17     0
 18     1
 20     0
 23     0
 24     0
 Name: 13442.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     2
 9     1
 12    0
 13    0
 14    0
 17    3
 18    1
 20    0
 23    0
 24    0
 Name: 13465.0, dtype: int64, 1      0
 5      0
 6      0
 7      0
 8     27
 9      0
 12     0
 13     0
 14     0
 17     0
 18     0
 20     0
 23     0
 24     0
 Name: 13472.0, dtype: int64, 1     0
 5     0
 6     1
 7     0
 8     0
 9     0
 12    0
 13    0
 14    5
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 13499.0, dtype: int64, 1      0
 5      1
 6      0
 7      0
 8      0
 9      0
 12     0
 13     0
 14    38
 17     0
 18     0
 20     0
 23     0
 24     0
 Name: 13505.0, dtype: int64, 1     0
 5     9
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 13544.0, dtype: int64, 1     0
 5     5
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 13553.0, dtype: int64, 1       0
 5       0
 6       0
 7       0
 8       0
 9       0
 12    425
 13      0
 14      0
 17      0
 18      0
 20      0
 23      0
 24      0
 Name: 13558.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     1
 9     0
 12    3
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 13983.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     1
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 13987.0, dtype: int64, 1      0
 5      0
 6      0
 7      0
 8     65
 9      0
 12     0
 13     0
 14     0
 17     0
 18     0
 20     0
 23     0
 24     0
 Name: 13988.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    1
 17    0
 18    0
 20    0
 23    1
 24    0
 Name: 14053.0, dtype: int64, 1      2
 5      0
 6      0
 7      1
 8      6
 9      8
 12     0
 13     0
 14     0
 17     0
 18    19
 20     0
 23     9
 24     0
 Name: 14055.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     1
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 14100.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     1
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 14101.0, dtype: int64, 1      0
 5      0
 6      0
 7      0
 8     11
 9      1
 12     0
 13     7
 14     0
 17     1
 18    78
 20     0
 23    18
 24     0
 Name: 14102.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    2
 24    0
 Name: 14218.0, dtype: int64, 1      0
 5      0
 6      1
 7      0
 8      0
 9      0
 12     0
 13     0
 14     0
 17     0
 18     0
 20     0
 23    64
 24     0
 Name: 14220.0, dtype: int64, 1     0
 5     1
 6     1
 7     0
 8     0
 9     0
 12    0
 13    0
 14    2
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 14285.0, dtype: int64, 1      0
 5     28
 6      1
 7      0
 8      0
 9      0
 12     0
 13     0
 14     0
 17     0
 18     0
 20     0
 23     0
 24     0
 Name: 14289.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    1
 Name: 14318.0, dtype: int64, 1       0
 5       0
 6       0
 7       0
 8       0
 9       0
 12      0
 13      0
 14    460
 17      0
 18      0
 20      0
 23      0
 24      2
 Name: 14319.0, dtype: int64, 1     0
 5     0
 6     1
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 14781.0, dtype: int64, 1      0
 5      0
 6     97
 7      0
 8      0
 9      0
 12     0
 13     0
 14     0
 17     0
 18     0
 20     0
 23     0
 24     2
 Name: 14782.0, dtype: int64, 1     0
 5     0
 6     1
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    3
 Name: 14881.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    2
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 14885.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     1
 9     0
 12    0
 13    0
 14    2
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 14887.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    1
 24    0
 Name: 14890.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     1
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    1
 24    0
 Name: 14891.0, dtype: int64, 1      0
 5      0
 6      0
 7      0
 8     15
 9      0
 12     0
 13     0
 14     0
 17     0
 18     0
 20     0
 23     0
 24     0
 Name: 14893.0, dtype: int64, 1      0
 5     10
 6      0
 7      0
 8      0
 9      0
 12     0
 13     0
 14     0
 17     0
 18     0
 20     0
 23     0
 24     0
 Name: 14908.0, dtype: int64, 1      0
 5     11
 6      0
 7      0
 8      0
 9      0
 12     1
 13     0
 14     0
 17     0
 18     0
 20     0
 23     0
 24     0
 Name: 14918.0, dtype: int64, 1       0
 5       0
 6       0
 7       0
 8       0
 9       0
 12    940
 13      0
 14      0
 17      0
 18      0
 20      0
 23      0
 24      0
 Name: 14930.0, dtype: int64, 1     0
 5     0
 6     0
 7     1
 8     0
 9     0
 12    2
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 15870.0, dtype: int64, 1     0
 5     0
 6     0
 7     1
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 15873.0, dtype: int64, 1       0
 5       1
 6       0
 7       0
 8     127
 9       0
 12      0
 13      0
 14      0
 17      0
 18      0
 20      0
 23      0
 24      0
 Name: 15874.0, dtype: int64, 1     0
 5     0
 6     3
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 16002.0, dtype: int64, 1     0
 5     0
 6     1
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    1
 Name: 16005.0, dtype: int64, 1       0
 5       0
 6       0
 7       0
 8       0
 9       0
 12      0
 13      0
 14      0
 17      0
 18      0
 20      0
 23      0
 24    295
 Name: 16007.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    1
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 16302.0, dtype: int64, 1     0
 5     0
 6     0
 7     0
 8     2
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 16303.0, dtype: int64, 1     0
 5     0
 6     1
 7     0
 8     8
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 16305.0, dtype: int64, 1     0
 5     0
 6     1
 7     0
 8     0
 9     0
 12    0
 13    0
 14    3
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 16314.0, dtype: int64, 1      0
 5      0
 6     75
 7      0
 8      0
 9      0
 12     0
 13     0
 14     8
 17     0
 18     0
 20     0
 23     0
 24     0
 Name: 16318.0, dtype: int64, 1     0
 5     0

In [65]:
cumu2 = [x/sum(x) for x in cumuSensor]
cumu2

[1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    1
 Name: 0.0, dtype: float64, 1     0.000000
 5     0.032680
 6     0.006536
 7     0.000000
 8     0.000000
 9     0.000000
 12    0.000000
 13    0.000000
 14    0.000000
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.000000
 24    0.960784
 Name: 1.0, dtype: float64, 1     0.0
 5     0.0
 6     0.0
 7     0.0
 8     0.0
 9     0.0
 12    0.0
 13    0.0
 14    0.5
 17    0.0
 18    0.0
 20    0.0
 23    0.0
 24    0.5
 Name: 154.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.000000
 7     0.000000
 8     0.000000
 9     0.000000
 12    0.000000
 13    0.000000
 14    0.996885
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.000000
 24    0.003115
 Name: 156.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    1
 Name: 477.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    1
 Name: 478.0, dtype: float64, 1     0.0
 5     0.0
 6     0.0
 7     0.0
 8     0.0
 9     0.0
 12    0.0
 13    0.0
 14    0.6
 17    0.0
 18    0.0
 20    0.0
 23    0.0
 24    0.4
 Name: 516.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    1
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 521.0, dtype: float64, 1     0.0
 5     0.0
 6     0.0
 7     0.0
 8     0.5
 9     0.0
 12    0.0
 13    0.0
 14    0.0
 17    0.0
 18    0.0
 20    0.0
 23    0.5
 24    0.0
 Name: 527.0, dtype: float64, 1     0.000000
 5     0.055556
 6     0.000000
 7     0.000000
 8     0.944444
 9     0.000000
 12    0.000000
 13    0.000000
 14    0.000000
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.000000
 24    0.000000
 Name: 531.0, dtype: float64, 1     0
 5     1
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 549.0, dtype: float64, 1     0.000000
 5     0.833333
 6     0.000000
 7     0.000000
 8     0.000000
 9     0.000000
 12    0.166667
 13    0.000000
 14    0.000000
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.000000
 24    0.000000
 Name: 561.0, dtype: float64, 1     0.00000
 5     0.00000
 6     0.00318
 7     0.00000
 8     0.00000
 9     0.00000
 12    0.99682
 13    0.00000
 14    0.00000
 17    0.00000
 18    0.00000
 20    0.00000
 23    0.00000
 24    0.00000
 Name: 567.0, dtype: float64, 1     0
 5     0
 6     1
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 1196.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.333333
 7     0.000000
 8     0.000000
 9     0.000000
 12    0.000000
 13    0.000000
 14    0.666667
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.000000
 24    0.000000
 Name: 1223.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.000000
 7     0.000000
 8     0.029412
 9     0.000000
 12    0.000000
 13    0.000000
 14    0.970588
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.000000
 24    0.000000
 Name: 1226.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     1
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 1260.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.013333
 7     0.000000
 8     0.386667
 9     0.000000
 12    0.600000
 13    0.000000
 14    0.000000
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.000000
 24    0.000000
 Name: 1262.0, dtype: float64, 1     0.0
 5     0.0
 6     0.5
 7     0.0
 8     0.0
 9     0.0
 12    0.0
 13    0.0
 14    0.5
 17    0.0
 18    0.0
 20    0.0
 23    0.0
 24    0.0
 Name: 1337.0, dtype: float64, 1     0
 5     0
 6     1
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 1341.0, dtype: float64, 1     0.000000
 5     0.994845
 6     0.002577
 7     0.000000
 8     0.000000
 9     0.000000
 12    0.000000
 13    0.000000
 14    0.000000
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.000000
 24    0.002577
 Name: 1342.0, dtype: float64, 1     0.0
 5     0.0
 6     0.0
 7     0.0
 8     0.0
 9     0.0
 12    0.0
 13    0.0
 14    0.5
 17    0.0
 18    0.0
 20    0.0
 23    0.0
 24    0.5
 Name: 1730.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.000000
 7     0.000000
 8     0.000000
 9     0.000000
 12    0.000000
 13    0.000000
 14    0.986667
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.000000
 24    0.013333
 Name: 1732.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.000000
 7     0.000000
 8     0.666667
 9     0.000000
 12    0.000000
 13    0.000000
 14    0.000000
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.333333
 24    0.000000
 Name: 1882.0, dtype: float64, 1     0.0
 5     0.0
 6     0.2
 7     0.0
 8     0.8
 9     0.0
 12    0.0
 13    0.0
 14    0.0
 17    0.0
 18    0.0
 20    0.0
 23    0.0
 24    0.0
 Name: 1885.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    1
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 1895.0, dtype: float64, 1     0
 5     1
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 1897.0, dtype: float64, 1     0.000000
 5     0.833333
 6     0.000000
 7     0.000000
 8     0.000000
 9     0.000000
 12    0.166667
 13    0.000000
 14    0.000000
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.000000
 24    0.000000
 Name: 1909.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    1
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 1915.0, dtype: float64, 1     0.00
 5     0.00
 6     0.00
 7     0.00
 8     0.25
 9     0.55
 12    0.00
 13    0.00
 14    0.00
 17    0.05
 18    0.10
 20    0.00
 23    0.05
 24    0.00
 Name: 2541.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     1
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 2561.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.009009
 7     0.000000
 8     0.328829
 9     0.000000
 12    0.000000
 13    0.000000
 14    0.662162
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.000000
 24    0.000000
 Name: 2562.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.333333
 7     0.000000
 8     0.000000
 9     0.000000
 12    0.000000
 13    0.000000
 14    0.666667
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.000000
 24    0.000000
 Name: 2784.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.005058
 7     0.001517
 8     0.003541
 9     0.001517
 12    0.000000
 13    0.002023
 14    0.002529
 17    0.000000
 18    0.983308
 20    0.000000
 23    0.000000
 24    0.000506
 Name: 2787.0, dtype: float64, 1     0.0
 5     0.0
 6     0.5
 7     0.0
 8     0.0
 9     0.0
 12    0.0
 13    0.0
 14    0.0
 17    0.0
 18    0.0
 20    0.0
 23    0.0
 24    0.5
 Name: 4764.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.985401
 7     0.000000
 8     0.000000
 9     0.000000
 12    0.000000
 13    0.000000
 14    0.000000
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.000000
 24    0.014599
 Name: 4766.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    1
 24    0
 Name: 4903.0, dtype: float64, 1     0.0
 5     0.0
 6     0.0
 7     0.0
 8     0.0
 9     0.0
 12    0.0
 13    0.0
 14    0.5
 17    0.0
 18    0.0
 20    0.0
 23    0.5
 24    0.0
 Name: 4909.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    1
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 4911.0, dtype: float64, 1     0
 5     1
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 4912.0, dtype: float64, 1     0
 5     1
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 4922.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.000000
 7     0.000000
 8     0.002217
 9     0.000000
 12    0.997783
 13    0.000000
 14    0.000000
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.000000
 24    0.000000
 Name: 4929.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     1
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 5380.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    1
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 5402.0, dtype: float64, 1     0
 5     0
 6     1
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 5444.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    1
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 5445.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.000000
 7     0.000000
 8     0.052632
 9     0.000000
 12    0.000000
 13    0.210526
 14    0.736842
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.000000
 24    0.000000
 Name: 5447.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.000000
 7     0.000000
 8     0.123457
 9     0.012346
 12    0.000000
 13    0.000000
 14    0.000000
 17    0.049383
 18    0.790123
 20    0.000000
 23    0.024691
 24    0.000000
 Name: 5466.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.000000
 7     0.000000
 8     0.000000
 9     0.000000
 12    0.017544
 13    0.000000
 14    0.000000
 17    0.000000
 18    0.982456
 20    0.000000
 23    0.000000
 24    0.000000
 Name: 5547.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    1
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 5604.0, dtype: float64, 1     0.000000
 5     0.017241
 6     0.000000
 7     0.000000
 8     0.000000
 9     0.000000
 12    0.896552
 13    0.000000
 14    0.017241
 17    0.000000
 18    0.000000
 20    0.068966
 23    0.000000
 24    0.000000
 Name: 8340.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    1
 Name: 8398.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    1
 Name: 8399.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.000000
 7     0.000000
 8     0.000000
 9     0.076923
 12    0.000000
 13    0.000000
 14    0.000000
 17    0.923077
 18    0.000000
 20    0.000000
 23    0.000000
 24    0.000000
 Name: 8418.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.000000
 7     0.000000
 8     0.000000
 9     0.000000
 12    0.000000
 13    0.000000
 14    0.020833
 17    0.791667
 18    0.000000
 20    0.187500
 23    0.000000
 24    0.000000
 Name: 8431.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.000000
 7     0.000000
 8     0.000000
 9     0.000000
 12    0.000000
 13    0.000000
 14    0.833333
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.000000
 24    0.166667
 Name: 8479.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    1
 Name: 8485.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.666667
 7     0.000000
 8     0.000000
 9     0.000000
 12    0.000000
 13    0.000000
 14    0.000000
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.000000
 24    0.333333
 Name: 9131.0, dtype: float64, 1     0.000
 5     0.000
 6     0.875
 7     0.000
 8     0.000
 9     0.000
 12    0.000
 13    0.000
 14    0.000
 17    0.000
 18    0.000
 20    0.000
 23    0.125
 24    0.000
 Name: 9134.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    1
 24    0
 Name: 9142.0, dtype: float64, 1     0.000000
 5     0.076923
 6     0.000000
 7     0.000000
 8     0.000000
 9     0.000000
 12    0.000000
 13    0.000000
 14    0.000000
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.923077
 24    0.000000
 Name: 9145.0, dtype: float64, 1     0
 5     1
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 9158.0, dtype: float64, 1     0.000000
 5     0.916667
 6     0.000000
 7     0.000000
 8     0.000000
 9     0.000000
 12    0.083333
 13    0.000000
 14    0.000000
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.000000
 24    0.000000
 Name: 9174.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    1
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 9186.0, dtype: float64, 1     0
 5     0
 6     1
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 10590.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    1
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 10591.0, dtype: float64, 1     0
 5     1
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 10593.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    1
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 10596.0, dtype: float64, 1     0.0
 5     0.0
 6     0.5
 7     0.0
 8     0.0
 9     0.0
 12    0.0
 13    0.0
 14    0.5
 17    0.0
 18    0.0
 20    0.0
 23    0.0
 24    0.0
 Name: 11141.0, dtype: float64, 1     0.000000
 5     0.166667
 6     0.000000
 7     0.000000
 8     0.000000
 9     0.000000
 12    0.166667
 13    0.000000
 14    0.000000
 17    0.000000
 18    0.000000
 20    0.666667
 23    0.000000
 24    0.000000
 Name: 11145.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    1
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 11151.0, dtype: float64, 1     0.0
 5     0.0
 6     0.5
 7     0.0
 8     0.0
 9     0.0
 12    0.0
 13    0.0
 14    0.0
 17    0.0
 18    0.0
 20    0.5
 23    0.0
 24    0.0
 Name: 11465.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.000000
 7     0.000000
 8     0.166667
 9     0.000000
 12    0.000000
 13    0.000000
 14    0.000000
 17    0.000000
 18    0.000000
 20    0.833333
 23    0.000000
 24    0.000000
 Name: 11467.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     1
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 11473.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.000000
 7     0.000000
 8     0.998841
 9     0.000000
 12    0.000000
 13    0.000000
 14    0.000000
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.000000
 24    0.001159
 Name: 11474.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    1
 Name: 13199.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    1
 Name: 13201.0, dtype: float64, 1     0.0
 5     0.0
 6     0.5
 7     0.0
 8     0.0
 9     0.0
 12    0.0
 13    0.0
 14    0.0
 17    0.0
 18    0.0
 20    0.0
 23    0.0
 24    0.5
 Name: 13440.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.956522
 7     0.000000
 8     0.000000
 9     0.000000
 12    0.000000
 13    0.000000
 14    0.000000
 17    0.000000
 18    0.043478
 20    0.000000
 23    0.000000
 24    0.000000
 Name: 13442.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.000000
 7     0.000000
 8     0.285714
 9     0.142857
 12    0.000000
 13    0.000000
 14    0.000000
 17    0.428571
 18    0.142857
 20    0.000000
 23    0.000000
 24    0.000000
 Name: 13465.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     1
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 13472.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.166667
 7     0.000000
 8     0.000000
 9     0.000000
 12    0.000000
 13    0.000000
 14    0.833333
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.000000
 24    0.000000
 Name: 13499.0, dtype: float64, 1     0.000000
 5     0.025641
 6     0.000000
 7     0.000000
 8     0.000000
 9     0.000000
 12    0.000000
 13    0.000000
 14    0.974359
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.000000
 24    0.000000
 Name: 13505.0, dtype: float64, 1     0
 5     1
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 13544.0, dtype: float64, 1     0
 5     1
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 13553.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    1
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 13558.0, dtype: float64, 1     0.00
 5     0.00
 6     0.00
 7     0.00
 8     0.25
 9     0.00
 12    0.75
 13    0.00
 14    0.00
 17    0.00
 18    0.00
 20    0.00
 23    0.00
 24    0.00
 Name: 13983.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     1
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 13987.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     1
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 13988.0, dtype: float64, 1     0.0
 5     0.0
 6     0.0
 7     0.0
 8     0.0
 9     0.0
 12    0.0
 13    0.0
 14    0.5
 17    0.0
 18    0.0
 20    0.0
 23    0.5
 24    0.0
 Name: 14053.0, dtype: float64, 1     0.044444
 5     0.000000
 6     0.000000
 7     0.022222
 8     0.133333
 9     0.177778
 12    0.000000
 13    0.000000
 14    0.000000
 17    0.000000
 18    0.422222
 20    0.000000
 23    0.200000
 24    0.000000
 Name: 14055.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     1
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 14100.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     1
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    0
 Name: 14101.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.000000
 7     0.000000
 8     0.094828
 9     0.008621
 12    0.000000
 13    0.060345
 14    0.000000
 17    0.008621
 18    0.672414
 20    0.000000
 23    0.155172
 24    0.000000
 Name: 14102.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    1
 24    0
 Name: 14218.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.015385
 7     0.000000
 8     0.000000
 9     0.000000
 12    0.000000
 13    0.000000
 14    0.000000
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.984615
 24    0.000000
 Name: 14220.0, dtype: float64, 1     0.00
 5     0.25
 6     0.25
 7     0.00
 8     0.00
 9     0.00
 12    0.00
 13    0.00
 14    0.50
 17    0.00
 18    0.00
 20    0.00
 23    0.00
 24    0.00
 Name: 14285.0, dtype: float64, 1     0.000000
 5     0.965517
 6     0.034483
 7     0.000000
 8     0.000000
 9     0.000000
 12    0.000000
 13    0.000000
 14    0.000000
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.000000
 24    0.000000
 Name: 14289.0, dtype: float64, 1     0
 5     0
 6     0
 7     0
 8     0
 9     0
 12    0
 13    0
 14    0
 17    0
 18    0
 20    0
 23    0
 24    1
 Name: 14318.0, dtype: float64, 1     0.000000
 5     0.000000
 6     0.000000
 7     0.000000
 8     0.000000
 9     0.000000
 12    0.000000
 13    0.000000
 14    0.995671
 17    0.000000
 18    0.000000
 20    0.000000
 23    0.000000
 24    0.004329
 Name: 14319.0, dtype: float64, 1     0
 5     0
 6     1
 7     0
 8     0
 9     0

In [30]:
len(labels)

35672

In [31]:
activityLabel

0               nothing
1           leave house
4            use toilet
5           take shower
10            go to bed
13    prepare breakfast
15       prepare dinner
17            get drink
dtype: object

In [32]:
sensorLabel

1              Microwave
5       Hall-Toilet door
6     Hall-Bathroom door
7          Cups cupboard
8                 Fridge
9        Plates cupboard
12            Front door
13            Dishwasher
14           ToiletFlush
17               Freezer
18         Pans Cupboard
20       Washing machine
23    Groceries Cupboard
24     Hall-Bedroom door
dtype: object

In [33]:
t = finalFeatureMatrix[finalFeatureMatrix == 0]

We now calculate the state transition frequencies

In [34]:
def labelFrequencyCounting(labels):
    activityDict = defaultdict(lambda: defaultdict(int)) #create a defaultdict of defaultdict
    
    for x in range(len(labels)-2): #we stop at the nth-1 number
        activityDict[labels[x]][labels[x+1]] += 1 
    return activityDict

In [35]:
labelFrequencyCounting = labelFrequencyCounting(labels)

In [36]:
labelFrequencyCounting

defaultdict(<function __main__.<lambda>>,
            {0: defaultdict(int,
                         {0: 14324,
                          1: 24,
                          4: 60,
                          5: 13,
                          10: 8,
                          13: 8,
                          15: 4,
                          17: 14}),
             1: defaultdict(int, {0: 17, 1: 14104, 4: 6, 15: 2}),
             4: defaultdict(int,
                         {0: 53,
                          1: 1,
                          4: 149,
                          5: 5,
                          10: 19,
                          13: 4,
                          15: 2,
                          17: 1}),
             5: defaultdict(int, {0: 18, 5: 172}),
             10: defaultdict(int, {0: 8, 4: 17, 10: 6305, 13: 2}),
             13: defaultdict(int, {0: 15, 13: 59}),
             15: defaultdict(int, {0: 6, 4: 1, 15: 221, 17: 1}),
             17: defaultdict(int, {0: 15, 13: 1, 17: 11})})

In [37]:
def sumOfDict(dct):
    sum = 0
    for value in dct.values():
        sum += value
    return sum

In [38]:
def frequencyMatrix(frequencyCounting): # on va utiliser cette méthode pour calculer transitionMatrix et observationMatrix
    frequencyMat = frequencyCounting.copy()
    for miniDict in frequencyMat.values():
        temporarySum = sumOfDict(miniDict)
        for key,value in miniDict.items():
            miniDict[key] = float(value)/temporarySum
    return frequencyMat

In [39]:
def labelTransitionMatrix(labelFrequencyCounting):
    return frequencyMatrix(labelFrequencyCounting)

In [40]:
labelTransitionMatrix = labelTransitionMatrix(labelFrequencyCounting)

In [41]:
x,y = np.where(finalFeatureMatrix == 1)
lst = []
for i in range(len(x)): 
    lst.append((x[i],y[i]))

lstSorted = sorted(lst, key = lambda pos:pos[1])

sensorList = sensorLabel.index.tolist()
indexSensorList = []
for sensor in lstSorted:
    indexSensorList.append(sensorList[sensor[0]])

#set(indexSensorList)

In [42]:
len(lst)

35672

In [43]:
len(indexSensorList)

35672

In [44]:
len(finalFeatureMatrix.iloc[1])

35672

In [45]:
len(labels)

35672

In [46]:
def observationFrequencyCounting(labels, indexSensorList):
    observationMat = defaultdict(lambda: defaultdict(int))
    for x in range(len(labels)):
        observationMat[labels[x]][indexSensorList[x]] += 1
    return observationMat

In [47]:
#observationFrequencyCounting = observationFrequencyCounting(labels, indexSensorList)
#observationFrequencyCounting

In [48]:
def observationMatrix(labels, indexSensorList):
    observationFrequencyCount = observationFrequencyCounting(labels, indexSensorList)
    return frequencyMatrix(observationFrequencyCount)

In [49]:
observationMatrix = observationMatrix(labels, indexSensorList)

In [50]:
observationMatrix

defaultdict(<function __main__.<lambda>>,
            {0: defaultdict(int,
                         {1: 0.0029051670471052084,
                          5: 0.016946807774780383,
                          6: 0.04177906896313205,
                          7: 0.005256968942380854,
                          8: 0.17175070899910078,
                          9: 0.003112678979041295,
                          12: 0.44096285536418345,
                          13: 0.008853842429273017,
                          14: 0.08438818565400844,
                          17: 0.009614719513038666,
                          18: 0.14470498720343086,
                          20: 0.0033893615549560768,
                          23: 0.014387493947568651,
                          24: 0.05194715362800028}),
             1: defaultdict(int,
                         {5: 0.00028310566919102553,
                          6: 0.0003538820864887819,
                          8: 0.00014155283459551277,
                          12: 0.9990799065751291,
                          17: 0.00014155283459551277}),
             4: defaultdict(int,
                         {5: 0.01282051282051282,
                          6: 0.2264957264957265,
                          8: 0.004273504273504274,
                          12: 0.02564102564102564,
                          14: 0.5170940170940171,
                          18: 0.004273504273504274,
                          20: 0.004273504273504274,
                          23: 0.01282051282051282,
                          24: 0.19230769230769232}),
             5: defaultdict(int,
                         {5: 0.8789473684210526, 14: 0.12105263157894737}),
             10: defaultdict(int,
                         {5: 0.151452937460518,
                          6: 0.02321541377132028,
                          14: 0.10912823752368919,
                          24: 0.7162034112444725}),
             13: defaultdict(int,
                         {1: 0.06756756756756757,
                          8: 0.2972972972972973,
                          9: 0.04054054054054054,
                          14: 0.08108108108108109,
                          17: 0.16216216216216217,
                          18: 0.013513513513513514,
                          23: 0.32432432432432434,
                          24: 0.013513513513513514}),
             15: defaultdict(int,
                         {1: 0.056768558951965066,
                          6: 0.004366812227074236,
                          7: 0.004366812227074236,
                          8: 0.09170305676855896,
                          9: 0.2576419213973799,
                          13: 0.017467248908296942,
                          17: 0.10043668122270742,
                          18: 0.39737991266375544,
                          23: 0.06986899563318777}),
             17: defaultdict(int,
                         {7: 0.1111111111111111,
                          8: 0.7777777777777778,
                          23: 0.1111111111111111})})

Enfin, on va mettre ces 2 matrices sous forme DataFrame:

In [51]:
labelTransitionMatrix

defaultdict(<function __main__.<lambda>>,
            {0: defaultdict(int,
                         {0: 0.9909373919059149,
                          1: 0.0016603251470079558,
                          4: 0.0041508128675198895,
                          5: 0.0008993427879626426,
                          10: 0.0005534417156693186,
                          13: 0.0005534417156693186,
                          15: 0.0002767208578346593,
                          17: 0.0009685230024213075}),
             1: defaultdict(int,
                         {0: 0.0012031990940618586,
                          1: 0.9982305895675561,
                          4: 0.0004246585037865383,
                          15: 0.00014155283459551277}),
             4: defaultdict(int,
                         {0: 0.2264957264957265,
                          1: 0.004273504273504274,
                          4: 0.6367521367521367,
                          5: 0.021367521367521368,
                          10: 0.0811965811965812,
                          13: 0.017094017094017096,
                          15: 0.008547008547008548,
                          17: 0.004273504273504274}),
             5: defaultdict(int,
                         {0: 0.09473684210526316, 5: 0.9052631578947369}),
             10: defaultdict(int,
                         {0: 0.0012634238787113076,
                          4: 0.0026847757422615286,
                          10: 0.9957359444093493,
                          13: 0.0003158559696778269}),
             13: defaultdict(int,
                         {0: 0.20270270270270271, 13: 0.7972972972972973}),
             15: defaultdict(int,
                         {0: 0.026200873362445413,
                          4: 0.004366812227074236,
                          15: 0.9650655021834061,
                          17: 0.004366812227074236}),
             17: defaultdict(int,
                         {0: 0.5555555555555556,
                          13: 0.037037037037037035,
                          17: 0.4074074074074074})})

In [52]:
transitionDistribution = pd.DataFrame(0.0, index = activityLabel.index, columns = activityLabel.index)
for key,valDict in labelTransitionMatrix.items():
    for miniKey, val in valDict.items(): 
        #print miniKey,key, val
        transitionDistribution.loc[miniKey][key] = val
transitionDistribution

,0,1,4,5,10,13,15,17
0,0.990937,0.001203,0.226496,0.094737,0.001263,0.202703,0.026201,0.555556
1,0.001660,0.998231,0.004274,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.004151,0.000425,0.636752,0.000000,0.002685,0.000000,0.004367,0.000000
5,0.000899,0.000000,0.021368,0.905263,0.000000,0.000000,0.000000,0.000000
10,0.000553,0.000000,0.081197,0.000000,0.995736,0.000000,0.000000,0.000000
13,0.000553,0.000000,0.017094,0.000000,0.000316,0.797297,0.000000,0.037037
15,0.000277,0.000142,0.008547,0.000000,0.000000,0.000000,0.965066,0.000000
17,0.000969,0.000000,0.004274,0.000000,0.000000,0.000000,0.004367,0.407407

In [53]:
observationDistribution = pd.DataFrame(0.0, index = sensorLabel.index, columns = activityLabel.index)
for key,valDict in observationMatrix.items():
    for miniKey, val in valDict.items(): 
        #print miniKey,key, val
        observationDistribution.loc[miniKey][key] = val
observationDistribution

,0,1,4,5,10,13,15,17
1,0.002905,0.000000,0.000000,0.000000,0.000000,0.067568,0.056769,0.000000
5,0.016947,0.000283,0.012821,0.878947,0.151453,0.000000,0.000000,0.000000
6,0.041779,0.000354,0.226496,0.000000,0.023215,0.000000,0.004367,0.000000
7,0.005257,0.000000,0.000000,0.000000,0.000000,0.000000,0.004367,0.111111
8,0.171751,0.000142,0.004274,0.000000,0.000000,0.297297,0.091703,0.777778
9,0.003113,0.000000,0.000000,0.000000,0.000000,0.040541,0.257642,0.000000
12,0.440963,0.999080,0.025641,0.000000,0.000000,0.000000,0.000000,0.000000
13,0.008854,0.000000,0.000000,0.000000,0.000000,0.000000,0.017467,0.000000
14,0.084388,0.000000,0.517094,0.121053,0.109128,0.081081,0.000000,0.000000
17,0.009615,0.000142,0.000000,0.000000,0.000000,0.162162,0.100437,0.000000
18,0.144705,0.000000,0.004274,0.000000,0.000000,0.013514,0.397380,0.000000
20,0.003389,0.000000,0.004274,0.000000,0.000000,0.000000,0.000000,0.000000
23,0.014387,0.000000,0.012821,0.000000,0.000000,0.324324,0.069869,0.111111
24,0.051947,0.000000,0.192308,0.000000,0.716203,0.013514,0.000000,0.000000