# Step 2: Viterbi algorithm

We begin by reloading the Data_Munging file

In [311]:
%run 'Data_Munging.ipynb'

<class 'pandas.tslib.Timedelta'>
61.0

In [312]:
transitionDistribution

,0,1,4,5,10,13,15,17
0,0.965755,0.000974,0.212329,0.095041,0.001033,0.222222,0.014493,0.475
1,0.006473,0.998539,0.010274,0.000000,0.000000,0.000000,0.000000,0.000
4,0.014408,0.000398,0.609589,0.000000,0.002928,0.000000,0.005797,0.000
5,0.003550,0.000000,0.020548,0.904959,0.000000,0.000000,0.000000,0.000
10,0.003132,0.000000,0.113014,0.000000,0.995867,0.000000,0.000000,0.000
13,0.002297,0.000000,0.020548,0.000000,0.000172,0.777778,0.000000,0.025
15,0.001462,0.000089,0.010274,0.000000,0.000000,0.000000,0.965217,0.000
17,0.002923,0.000000,0.003425,0.000000,0.000000,0.000000,0.014493,0.500

In [313]:
observationDistribution

,0,1,4,5,10,13,15,17
1,0.023805,0.001284,0.000000,0.000000,0.000000,0.088889,0.092754,0.025
5,0.098350,0.002744,0.041096,0.859504,0.001378,0.000000,0.000000,0.000
6,0.123617,0.001859,0.386986,0.066116,0.000000,0.011111,0.000000,0.025
7,0.008979,0.000000,0.000000,0.000000,0.000000,0.011111,0.002899,0.075
8,0.170390,0.000177,0.020548,0.000000,0.000000,0.222222,0.142029,0.675
9,0.053456,0.000266,0.003425,0.000000,0.000000,0.055556,0.156522,0.000
12,0.065776,0.985172,0.037671,0.000000,0.000000,0.000000,0.002899,0.025
13,0.031948,0.002966,0.000000,0.004132,0.000000,0.000000,0.017391,0.050
14,0.190436,0.001903,0.345890,0.066116,0.000431,0.077778,0.005797,0.025
17,0.029651,0.000266,0.000000,0.000000,0.000000,0.122222,0.144928,0.050
18,0.045103,0.000044,0.003425,0.000000,0.000000,0.011111,0.278261,0.000
20,0.009605,0.001638,0.000000,0.000000,0.000000,0.000000,0.002899,0.025
23,0.101483,0.001018,0.000000,0.004132,0.000000,0.377778,0.153623,0.025
24,0.047400,0.000664,0.160959,0.000000,0.998192,0.022222,0.000000,0.000

In [314]:
initialDistribution = Series([0,0,0,0,1,0,0,0], index = [0,1,4,5,10,13,15,17])
initialDistribution

0     0
1     0
4     0
5     0
10    1
13    0
15    0
17    0
dtype: int64

In [315]:
sensorLabel

1              Microwave
5       Hall-Toilet door
6     Hall-Bathroom door
7          Cups cupboard
8                 Fridge
9        Plates cupboard
12            Front door
13            Dishwasher
14           ToiletFlush
17               Freezer
18         Pans Cupboard
20       Washing machine
23    Groceries Cupboard
24     Hall-Bedroom door
dtype: object

In [316]:
observation = Series([24,24,5,6,14,14,6,9,9,8,8,1,23,1,23,13,9,18,7,9,5,5,12,12,8,23,8,6,14,6,18,18,18,12,18,8,8,7,7,7,8,8,6,6,14,6])
observation

0     24
1     24
2      5
3      6
4     14
5     14
6      6
7      9
8      9
9      8
10     8
11     1
12    23
13     1
14    23
15    13
16     9
17    18
18     7
19     9
20     5
21     5
22    12
23    12
24     8
25    23
26     8
27     6
28    14
29     6
30    18
31    18
32    18
33    12
34    18
35     8
36     8
37     7
38     7
39     7
40     8
41     8
42     6
43     6
44    14
45     6
dtype: int64

In [317]:
observation[5]

14

In [318]:
initialDistribution

0     0
1     0
4     0
5     0
10    1
13    0
15    0
17    0
dtype: int64

In [319]:
activityLabel

0               nothing
1           leave house
4            use toilet
5           take shower
10            go to bed
13    prepare breakfast
15       prepare dinner
17            get drink
dtype: object

In [320]:
def Viterbi(observation, activityLabel, initialDistribution, observationDistribution, transitionDistribution):
    probabilityTable = pd.DataFrame(0.0, index = activityLabel.index, columns = observation.index)
    path = {}
    for activityIndex in activityLabel.index.values:
        probabilityTable[0][activityIndex] = initialDistribution[activityIndex] * observationDistribution[activityIndex][observation[0]]
        path[activityIndex] = [activityIndex]
    
    for observationIndex in range(1,len(observation)):
        newPath = {}
        for activityIndex in activityLabel.index.values:
            (proba, previousActivityInd) = max((probabilityTable[observationIndex-1][previousActivityIndex]*transitionDistribution[previousActivityIndex][activityIndex]*observationDistribution[activityIndex][observation[observationIndex]], previousActivityIndex) for previousActivityIndex in activityLabel.index.values )
            #print proba 
            probabilityTable[observationIndex][activityIndex] = proba
            newPath[activityIndex] = path[previousActivityInd] + [activityIndex]
        path = newPath
    
    (finalProba, finalActivityIndex) = max((probabilityTable[len(observation)-1][activityIndex], activityIndex) for activityIndex in activityLabel.index.values )
    return finalProba, path[finalActivityIndex]

Now we will create the testing set:

In [321]:
day25Sensor = [sensorData['Start time'][x].day == 25 for x in range(1,len(sensorData))]
day25Sensor = day25Sensor + [False]
day25SensorData = sensorData[day25Sensor]
day25SensorData

            Start time            End time  ID Val
1  2008-02-25 00:20:14 2008-02-25 00:22:57  24   1
2  2008-02-25 09:33:41 2008-02-25 09:33:42  24   1
3  2008-02-25 09:36:43 2008-02-25 09:37:04   5   1
4  2008-02-25 09:37:20 2008-02-25 09:37:23   6   1
5  2008-02-25 09:37:51 2008-02-25 09:37:52  14   1
6  2008-02-25 09:37:55 2008-02-25 09:37:56  14   1
7  2008-02-25 09:37:58 2008-02-25 09:38:01   6   1
8  2008-02-25 09:49:27 2008-02-25 09:49:28   9   1
9  2008-02-25 09:49:31 2008-02-25 09:49:38   9   1
10 2008-02-25 09:49:39 2008-02-25 09:49:44   8   1
11 2008-02-25 09:49:53 2008-02-25 09:49:56   8   1
12 2008-02-25 09:49:58 2008-02-25 09:50:04   1   1
13 2008-02-25 09:50:39 2008-02-25 09:50:42  23   1
14 2008-02-25 09:52:11 2008-02-25 09:53:21   1   1
15 2008-02-25 09:53:22 2008-02-25 09:53:25  23   1
16 2008-02-25 09:57:24 2008-02-25 10:01:27  13   1
17 2008-02-25 09:57:45 2008-02-25 09:58:29   9   1
18 2008-02-25 09:58:33 2008-02-25 09:58:34  18   1
19 2008-02-25 09:59:17 2008-02-25 09:59:18   7   1
20 2008-02-25 10:00:00 2008-02-25 10:00:04   9   1
21 2008-02-25 10:02:31 2008-02-25 10:02:54   5   1
22 2008-02-25 10:10:15 2008-02-25 10:10:16   5   1
23 2008-02-25 10:10:20 2008-02-25 17:00:28   5   1
24 2008-02-25 10:19:28 2008-02-25 10:19:32  12   1
25 2008-02-25 16:54:37 2008-02-25 16:54:41  12   1
26 2008-02-25 16:59:04 2008-02-25 16:59:11   8   1
27 2008-02-25 16:59:14 2008-02-25 16:59:42  23   1
28 2008-02-25 16:59:48 2008-02-25 16:59:51   8   1
29 2008-02-25 17:00:33 2008-02-25 17:00:37   6   1
30 2008-02-25 17:01:22 2008-02-25 17:01:23  14   1
..                 ...                 ...  ..  ..
69 2008-02-25 20:04:20 2008-02-25 20:04:21   1   1
70 2008-02-25 20:04:46 2008-02-25 20:10:43   1   1
71 2008-02-25 20:10:44 2008-02-25 20:10:45   8   1
72 2008-02-25 20:18:03 2008-02-25 20:18:04   8   1
73 2008-02-25 20:19:49 2008-02-25 20:19:57   9   1
74 2008-02-25 20:20:29 2008-02-25 20:20:33   8   1
75 2008-02-25 20:23:14 2008-02-25 20:23:17   8   1
76 2008-02-25 20:23:32 2008-02-25 20:23:36   8   1
77 2008-02-25 21:08:49 2008-02-25 21:08:50   5   1
78 2008-02-25 21:08:51 2008-02-25 21:08:52   5   1
79 2008-02-25 21:45:40 2008-02-25 21:45:44   8   1
80 2008-02-25 21:51:32 2008-02-25 21:51:33   6   1
81 2008-02-25 21:51:37 2008-02-25 21:51:43   6   1
82 2008-02-25 21:52:08 2008-02-25 21:52:09  14   1
83 2008-02-25 21:52:29 2008-02-25 21:52:31   6   1
84 2008-02-25 21:54:46 2008-02-25 21:55:17  12   1
85 2008-02-25 21:55:35 2008-02-25 21:55:39   9   1
86 2008-02-25 21:56:02 2008-02-25 21:56:04   1   1
87 2008-02-25 21:59:02 2008-02-25 21:59:05   1   1
88 2008-02-25 23:05:57 2008-02-25 23:05:58  13   1
89 2008-02-25 23:06:02 2008-02-25 23:19:05  13   1
90 2008-02-25 23:11:41 2008-02-25 23:11:42  18   1
91 2008-02-25 23:19:08 2008-02-25 23:19:09  13   1
92 2008-02-25 23:21:24 2008-02-25 23:30:56  24   1
93 2008-02-25 23:22:31 2008-02-25 23:24:35   5   1
94 2008-02-25 23:28:31 2008-02-25 23:28:32   6   1
95 2008-02-25 23:28:36 2008-02-25 23:29:12   6   1
96 2008-02-25 23:30:12 2008-02-25 23:30:52   5   1
97 2008-02-25 23:31:53 2008-02-25 23:32:30  24   1
98 2008-02-25 23:32:33 2008-02-25 23:32:34  24   1

[98 rows x 4 columns]

In [322]:
day25Activity = [activityData['Start time'][x].day == 25 for x in range(1,len(activityData))]
day25Activity = day25Activity + [False]
day25ActivityData = activityData[day25Activity]
day25ActivityData

            Start time            End time  ID
1  2008-02-25 00:22:46 2008-02-25 09:34:12  10
2  2008-02-25 09:37:17 2008-02-25 09:38:02   4
3  2008-02-25 09:49:23 2008-02-25 09:53:28  13
4  2008-02-25 10:02:28 2008-02-25 10:12:42   5
5  2008-02-25 10:19:06 2008-02-25 16:55:38   1
6  2008-02-25 17:00:31 2008-02-25 17:01:34   4
7  2008-02-25 17:54:55 2008-02-25 17:55:58  17
8  2008-02-25 18:31:54 2008-02-25 18:33:38   4
9  2008-02-25 19:40:26 2008-02-25 20:22:58  15
10 2008-02-25 20:23:12 2008-02-25 20:23:35  17
11 2008-02-25 21:51:29 2008-02-25 21:52:36   4
12 2008-02-25 23:21:15 2008-02-26 09:15:30  10
13 2008-02-25 23:28:30 2008-02-25 23:29:14   4

In [323]:
testingFeatureMatrix, testingLabel = convert2LastFiredFeatureMatrix(day25SensorData,day25ActivityData,60)

In [324]:
testingFeatureMatrix

,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,1382.0,1383.0,1384.0,1385.0,1386.0,1387.0,1388.0,1389.0,1390.0,1391.0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,0,1,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,1,1

In [325]:
t = testingFeatureMatrix.ix[:,:10]
t

    0   1   2   3   4   5   6   7   8   9   10
1    0   0   0   0   0   0   0   0   0   0   0
5    0   0   0   0   0   0   0   0   0   0   0
6    0   0   0   0   0   0   0   0   0   0   0
7    0   0   0   0   0   0   0   0   0   0   0
8    0   0   0   0   0   0   0   0   0   0   0
9    0   0   0   0   0   0   0   0   0   0   0
12   0   0   0   0   0   0   0   0   0   0   0
13   0   0   0   0   0   0   0   0   0   0   0
14   0   0   0   0   0   0   0   0   0   0   0
17   0   0   0   0   0   0   0   0   0   0   0
18   0   0   0   0   0   0   0   0   0   0   0
20   0   0   0   0   0   0   0   0   0   0   0
23   0   0   0   0   0   0   0   0   0   0   0
24   1   1   1   1   1   1   1   1   1   1   1

In [387]:
testingObservation = Series(0, index = testingFeatureMatrix.columns)
for i in range(len(testingObservation)): 
    r = np.where(testingFeatureMatrix[i] == 1)
    result = testingFeatureMatrix.index[r[0]]
    testingObservation[i] = result[0]

numOfObservation = len(testingObservation)
obs = testingObservation[:numOfObservation]
validatedPath = testingLabel[:numOfObservation]

In [ ]:
proba, path = Viterbi(obs, activityLabel, initialDistribution, observationDistribution, transitionDistribution)

In [ ]:
#error rate
errorRate = ( sum(validatedPath != path)/float(len(validatedPath)) ) * 100 
errorRate

In [ ]:
proba * 100