# Step 2: Viterbi algorithm

We begin by reloading the Data_Munging file

In [5]:
%run 'Data_Munging.ipynb'

<class 'pandas.tslib.Timedelta'>
61.0

In [8]:
transitionDistribution

,0,1,4,5,10,13,15,17
0,0.965755,0.000974,0.212329,0.095041,0.001033,0.222222,0.014493,0.475
1,0.006473,0.998539,0.010274,0.000000,0.000000,0.000000,0.000000,0.000
4,0.014408,0.000398,0.609589,0.000000,0.002928,0.000000,0.005797,0.000
5,0.003550,0.000000,0.020548,0.904959,0.000000,0.000000,0.000000,0.000
10,0.003132,0.000000,0.113014,0.000000,0.995867,0.000000,0.000000,0.000
13,0.002297,0.000000,0.020548,0.000000,0.000172,0.777778,0.000000,0.025
15,0.001462,0.000089,0.010274,0.000000,0.000000,0.000000,0.965217,0.000
17,0.002923,0.000000,0.003425,0.000000,0.000000,0.000000,0.014493,0.500

In [9]:
observationDistribution

,0,1,4,5,10,13,15,17
1,0.023805,0.001284,0.000000,0.000000,0.000000,0.088889,0.092754,0.025
5,0.098350,0.002744,0.041096,0.859504,0.001378,0.000000,0.000000,0.000
6,0.123617,0.001859,0.386986,0.066116,0.000000,0.011111,0.000000,0.025
7,0.008979,0.000000,0.000000,0.000000,0.000000,0.011111,0.002899,0.075
8,0.170390,0.000177,0.020548,0.000000,0.000000,0.222222,0.142029,0.675
9,0.053456,0.000266,0.003425,0.000000,0.000000,0.055556,0.156522,0.000
12,0.065776,0.985172,0.037671,0.000000,0.000000,0.000000,0.002899,0.025
13,0.031948,0.002966,0.000000,0.004132,0.000000,0.000000,0.017391,0.050
14,0.190436,0.001903,0.345890,0.066116,0.000431,0.077778,0.005797,0.025
17,0.029651,0.000266,0.000000,0.000000,0.000000,0.122222,0.144928,0.050
18,0.045103,0.000044,0.003425,0.000000,0.000000,0.011111,0.278261,0.000
20,0.009605,0.001638,0.000000,0.000000,0.000000,0.000000,0.002899,0.025
23,0.101483,0.001018,0.000000,0.004132,0.000000,0.377778,0.153623,0.025
24,0.047400,0.000664,0.160959,0.000000,0.998192,0.022222,0.000000,0.000